<%- include("partials/header"); %>

    <form action="/auth/login" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">Username</label>
            <input type="text" class="form-control" id="name" maxlength="50" name="name">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" maxlength="300" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <% if (typeof message !== 'undefined' && message) { %>
            <h4 class="alert alert-danger mt-4"><%= message %></h4>
        <% } %>
    </form>

<%- include("partials/footer"); %>