<%- include("partials/header"); %>
<div class="container text-center">
    <h2>Quiz Terminé !</h2>
    <p>Score final :</p>
    <h4>Correct - <%= score.correct %>, Incorrect - <%= score.incorrect %></h4>
</div>
<%- include("partials/footer"); %>
